<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=welfaredenmark;AccountKey=ZB7yJ/Fz4NBB1sHtbj2/k586DOfTIV/qXRuKZCtvH9oNtJJAL+RNTNM0oWeQVZ+nP5vOEJQhlgX6MRb4KUq2uw==" />
  </connectionStrings>
</configuration>